*{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
a{
    color: white;
}
body{
    background-color: #001427;
}
#logo{
    width: 192px;
}
nav #main{
    margin-top: 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav .menu_item{
    flex: 1;
}
nav #main #nav_{
    display: flex;
    justify-content: end;
}
nav a{
    text-decoration: none;
}
nav #burger_icon:hover{
    opacity: 0.5;
}
nav .menu_spacer{
    flex: 0.2;
}
nav #main #nav_browser{
    display: none;
}
nav #main #nav_right{
    display: flex;
    justify-content: end;
}
@media only screen and (min-width: 1200px) {
    nav #main #nav_browser {
        display: flex;
    }
    nav #burger_icon{
        display: none;
    }
}
nav #nav_browser a{
    padding: 16px;
}
nav #nav_browser a:hover{
    opacity: 0.5;
}
nav #nav_mobile{
    position: absolute;
    z-index: 100;
    background-color: #001427;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 0 0 4px 0;
    display: none;
    flex-direction: column;
    width: 192px;
    height: 384px;
}
nav #nav_mobile a{
    padding: 4px;
    font-size: x-large;
}
nav #nav_mobile a:hover{
    opacity: 0.5;
}
button{
    margin: 4px;
    background-color: #00acdf;
    border: none;
    border-radius: 4px;
    padding: 8px;
}
button:hover{
    opacity: 0.5;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
main #banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}
main #banner #heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 860px;
}
main #banner #heading h1{
    font-size: 96px;
    font-weight: normal;
    margin: 16px;
}
main #banner #heading h3{
    font-size: 23px;
    font-weight: normal;
    margin: 16px;
    color: #D1D1D6;
}
main #banner #images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media only screen and (min-width: 800px) {
    main #banner #images{
        flex-direction: row;
    }
}
main #banner .line_box{
    display: none;
}
@media only screen and (min-width: 1600px) {
    main #banner .line_box{
        display: flex;
        position: absolute;
        height: 1000px;
        width: 100%;
        border: 1px solid #1CACDF;
        opacity: 0.5;
    }
    main #banner #line1{
        top: 0;
        left: 9%;
    }
    main #banner #line2{
        top: 50px;
        left: 12%;
    }
    main #banner #line3{
        top: 100px;
        left: 15%;

    }
    main #banner #heading h1{
        margin-top: 150px;
    }
}



