*{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
a{
    color: white;
}
body{
    background-color: #001427;
}
#logo{
    width: 192px;
}
nav #main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav .menu_item{
    flex: 1;
}
nav #main #nav_{
    display: flex;
    justify-content: end;
}
nav a{
    text-decoration: none;
}
nav #burger_icon:hover{
    opacity: 0.5;
}
nav .menu_spacer{
    display: none;
    flex: 0.2;
}
nav #main #nav_browser{
    display: none;
}
nav #main #nav_right{
    display: flex;
    justify-content: end;
}
main #banner #social{
    display: none;
}
@media only screen and (min-width: 1200px) {
    nav #main #nav_browser {
        display: flex;
    }
    nav #burger_icon{
        display: none;
    }
    nav .menu_spacer{
        display: block;
    }
    nav #main #nav_left{
        display: none;
    }
    nav #main{
        padding: 16px;
    }
}

nav a{
    padding: 16px;
    color: white;
}
nav #nav_browser a:hover{
    opacity: 0.5;
}
nav #nav_browser a:active{
    color: #00acdf;
}
nav a.current{
    color: #00acdf;
}
nav #nav_mobile{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #001427;
    opacity: 0.9;
    /*border: 1px solid white;*/
    border-radius: 0 0 8px 0;
    display: none;
    flex-direction: column;
}
nav #nav_mobile a{
    font-size: x-large;
    padding: 4px 4px 4px 12px;
}
nav #nav_mobile a:hover{
    opacity: 0.5;
}
nav #nav_mobile a#burger_icon_opened{
    font-size: medium;
    margin-top: 15px;
    padding: 15px 16px 16px 15px;
}
nav #nav_mobile a i{
    width: 38px;
}


button{
    margin: 4px;
    height: 40px;
    background-color: #00acdf;
    border: none;
    border-radius: 4px;
    padding: 0 18px 0 18px;
}
button:hover{
    opacity: 0.5;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
main #banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}
main #banner #heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 860px;
}
main #banner #heading h1{
    font-size: 80px;
    font-weight: normal;
    margin: 16px;
}
main #banner #heading h3{
    font-size: 21px;
    font-weight: normal;
    margin: 16px;
    color: #D1D1D6;
}
main #banner #images{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media only screen and (min-width: 800px) {
    main #banner #images{
        flex-direction: row;
    }
    main #banner #heading h1{
        font-size: 96px;
    }
    main #banner #heading h3{
        font-size: 23px;
    }
}
main #banner .line_box{
    display: none;
}
@media only screen and (min-width: 1600px) {
    main #banner .line_box{
        display: flex;
        position: absolute;
        z-index: -1;
        height: 1000px;
        width: 100%;
        border: 3px solid #1CACDF;
        opacity: 0.1;
    }
    main #banner #line1{
        top: 0;
        left: 9%;
    }
    main #banner #line2{
        top: 50px;
        left: 12%;
    }
    main #banner #line3{
        top: 100px;
        left: 15%;

    }
    main #banner #heading h1{
        margin-top: 150px;
    }
    main #banner #social{
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 460px;
        left: 3%;
    }
    main #banner #social a{
        display: flex;
        padding: 10px;
        justify-content: center;
        width: 18px;
    }
    main #banner #social a:nth-child(4){
        width: 16px;
    }
}


#white_section_banner{
    position: relative;
    z-index: -1;
    margin-top: -350px;
    height: 400px;
    width: 100%;
    display: flex;
    background-color: white;
}

#big_white_section{
    position: relative;
    width: 100%;
    height: 1400px;
    background-color: white;
    overflow: hidden;
}
#big_white_section #our_service{
    margin-top: 100px;
    margin-bottom: 300px;
}
#big_white_section h1{
    font-size: 80px;
    font-weight: 500;
    color: black;
}
#ellipse1{
    position: absolute;
    left: -170px;
}
#ellipse2{
    position: absolute;
    top: 800px;
    right: -170px;
    color: #00acdf;
}

section #mobile{
    display: flex;
    align-items: center;
    justify-content: center;
}
section #mobile #app_store{
    margin-right: 16px;
    margin-left: 16px;
}



section #faq{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section #faq details{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #F2F2F7;
    border-radius: 4px;
    text-align: left;
    padding: 38px;
    margin: 10px;
    font-size: 20px;
}
section #faq details[open] {
    background-color: white;
    box-shadow: 0 3px 6px #00000029;
}
section #faq details p{
    color: #7A7A7F;
    margin-top: 16px;
    padding-left: 22px;
}
section #faq details summary{
    color: black;
}
section #faq details > summary {
    list-style-type: none;
    display: flex;
}
section #faq details summary::before {
    padding-right: 16px;
    content:"+";
}
section #faq details[open] summary::before {
    content:"-";
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: #001427;
}




/*about page*/


main#main_about #big_white_section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.grid_container#photos{
    width: 70%;
    margin-top: 32px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 10px;
}
@keyframes blurIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#photos .grid-item{
    opacity: 0;
    font-size: 30px;
    text-align: center;

    animation-name: blurIn;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#photos .grid-item img{
    border-radius: 10px;
}
#photos .grid-item:nth-child(2){
    animation-delay: 0.2s;
}
#photos .grid-item:nth-child(3){
    animation-delay: 0.4s;
}
#photos .grid-item:nth-child(4){
    animation-delay: 0.6s;
}
#photos .grid-item:nth-child(5){
    animation-delay: 0.8s;
}
#photos .grid-item:nth-child(6){
    animation-delay: 1s;
}
#photos .grid-item:nth-child(7){
    animation-delay: 1.2s;
}
#photos .grid-item:nth-child(8){
    animation-delay: 1.4s;
}
#photos .grid-item:nth-child(9){
    animation-delay: 1.6s;
}
#photos .grid-item:nth-child(10){
    animation-delay: 1.8s;
}
#photos .grid-item:nth-child(11){
    animation-delay: 2s;
}
#photos .grid-item:nth-child(12){
    animation-delay: 2.2s;
}
#photos .grid-item:nth-child(13){
    animation-delay: 2.4s;
}
#photos .grid-item:nth-child(14){
    animation-delay: 2.6s;
}
#photos .grid-item:nth-child(15){
    animation-delay: 2.8s;
}
#photos .grid-item:nth-child(16){
    animation-delay: 3s;
}
#photos .grid-item:nth-child(17){
    animation-delay: 3.2s;
}
#photos .grid-item:nth-child(18){
    animation-delay: 3.4s;
}
#photos .grid-item:nth-child(19){
    animation-delay: 3.6s;
}







